/* This is a CSS @import rule that links to the Google Fonts API to load the "Poppins" font, with specific weights (300, 400, 500, 600, 700). */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    color: #393939;
}

.container {
    margin: 0 15px; /* to prevent the layout from being too close of the edges of the screen*/
}

.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #ffffff;
    border-radius: 17px;
    box-shadow: 0 0 10px #0000001a;
    display: none; /* Hide all the elements in the screen */
}

.form-box.active {
    display: block; /* Show the active element in the screen */
}

h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input,
select {
    width: 100%;
    padding: 10px;
    background: #eee;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover {
    background: #546fba;
}

p {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}

p a {
    color: #7494ec;
    text-decoration: none;
    font-weight: 500;
}

p a:hover {
    text-decoration: underline;
}

.error-message {
    padding: 12px;
    background: #f8d7da;
    border-radius: 6px;
    font-size: 16px;
    color: #721c24;
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    font-size: 50px;
}

span {
    color: #7494ec;
}

.box p {
    font-size: 22px;
}

.box button {
    display: block;
    width: 300px;
    margin: 0 auto;
}